.btn,.input-box {
	-fx-background-color: #ffffff;
	-fx-text-fill: #282828;
	-fx-border-color: #282828;
	-fx-border-radius: 3px;
	-fx-border-width: 2px;
}

.btn:hover {
	-fx-background-color: #282828;
	-fx-text-fill: #ebdbb2;
}

