.tab-pane .tab-header-background {
    -fx-background-color: #000; /* tab bar background */
}

.title-bar {
    
}

.tab-pane {
    -fx-background-color: black;
}

.tab-pane .tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #000;
    -fx-text-base-color: white;
    -fx-padding: 8 15 8 15;
    
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #000;
    -fx-text-base-color: white;
    -fx-padding: 8 15 8 15;
    
}

.tab:selected {
    -fx-background-color: #ff6600;
    -fx-text-base-color: black;
    -fx-border-color: #aa4400;
}

.tab:hover {
    -fx-background-color: #aa4400;
}



.tab-pane .tab:selected {
    -fx-background-color: #ff6600;
    -fx-text-base-color: black;
    -fx-border-color: #aa4400;
}

.tab-pane .tab:hover {
    -fx-background-color: #aa4400;
}







.screen {
    -fx-background-color: white;
}

.screen {
    -fx-text-fill: #ff6600;
}



.titled-pane > .title {
    -fx-background-color: #000;
    -fx-text-fill: #ff6600;
    -fx-font-size: 16px;
    -fx-padding: 5 10 5 10;
}


.titled-pane > .title > .arrow {
    -fx-background-color: transparent; /* optional */
    -fx-shape: ""; /* remove the arrow shape */
    -fx-padding: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}