.sidebarbutton {
    -fx-background-color: lightgray;
}

.sidebarbutton:hover {
    -fx-background-color: gray;
    -fx-text-fill: lightgray;
}

.sidebarbutton:active {
    -fx-background-color: blue;
}

.searchbutton {
    -fx-background-color: lightblue;
}

.searchbutton:hover {
    -fx-background-color: aquamarine;
}

.buttonelement {
    -fx-background-color: gray;
    -fx-text-fill: white;
    -fx-font-size: 32;
}

.buttonelement:hover {
    -fx-background-color: #222222;
}